:root {
    --bright: white;
    --dark: black;
    --white: #212836;
    --black: #A3A8B2;
    --gray: #2C3340;
    --primary0: #384357;
    --primary1: #2C3340;
    --primary2: #212836;
    --primary3: #4B73FF;
    --secondary1: #0D1520;
    --secondary2: #121927;
    --waveFill: #0D1520;
}

@font-face {
    font-family: "DSEG14 Classic";
    src: url("fonts/DSEG14Classic-Regular.woff") format("woff");
}

@font-face {
    font-family: "DSEG14 Modern";
    src: url("fonts/DSEG14Modern-Regular.woff") format("woff");
}


.resultIcon {
    filter: invert();
}
#searchBox {
    background-image: url('images/search_default.svg');
}
.resultBox {
    background-image: url('images/loading_dark.gif');
}
.removeButton {
    filter:invert();
}

::selection {
    background-color: var(--primary1);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--secondary2);
    margin: 20px;
}

::-webkit-scrollbar-thumb {
    background: var(--black); 
    border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'CabinetGrotesk-Variable';
}

body {
    background-color: var(--secondary1);
    overflow-x: hidden;
}

p, h1, input {
    color: var(--black);
}

h1 {
    font-size: 24px;
    text-align: center;
    margin: auto;
}

li {
    list-style: none;
}

#navLogo {
    background-image: url('images/stellar_logo_vert.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height:100px;
    width: 30px;
    margin: 20px 0px 20px 0px;
}

#automationTasks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 40px;
    grid-column-gap: 10px;
    width: calc(100vw - 240px);
    padding: 20px;
    align-content: start;
    
    background-image: url('images/loading_dark.gif');
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
}

#automationStatus {
    background-color: var(--dark);
    border: 1px solid var(--primary1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60px;
    width: calc(100vw - 230px);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}

#resourceMonitor {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.meterFill {
    background-image: url('images/led_dots.webp');
    background-size: 50px;
    height: 100%;
    width: auto;
    border-radius: 5px 5px 10px 0px;
}

.resourceMeter {
    box-sizing: border-box;
    border-width: 0px 2px 2px 2px;
    border-style: solid; 
    border-color: var(--black);
    border-radius: 0px 0px 15px 15px;
    width: 90px;
    height: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cardGroup {
    padding: 0px 20px 20px 20px;
    background-color: var(--secondary2);
    height: calc(100vh - 200px);
    border-radius: 20px;
}

.medium {
    font-weight: bold;
}

#navSearch {
    background-image: url('images/search_default.svg');
}
#navSearch:hover {
    background-image: url('images/search_hover.svg');
}
#navAutomation {
    background-image: url('images/automation_default.svg');
}
#navAutomation:hover {
    background-image: url('images/automation_hover.svg');
}
#navSettings {
    background-image: url('images/settings_default.svg');
}
#navSettings:hover {
    background-image: url('images/settings_hover.svg');
}
#navInfo {
    background-image: url('images/info_default.svg');
}
#navInfo:hover {
    background-image: url('images/info_hover.svg');
}

button {
    font-family: 'Arial';
    cursor: pointer;
    height: 60px;
    width: auto;
    font-size: 16px;
    font-weight:normal;
    font-family: 'CabinetGrotesk-Medium', 'Apple Color Emoji';
    color:var(--black);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 36px;
    transition: 0.2s;

    border: 1px solid var(--primary0);
    background-color: var(--primary1);
    backdrop-filter: blur(30px);
}

button p {
    box-shadow: none;
    border: none;
}

button:hover {
    color: var(--bright);
    filter: drop-shadow(0px 0px 20px var(--primary3));
    background-color: rgba(255,255,255,0.2);
}

button:active {
    scale: 0.9;
}

.wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.file-selectors {
    width: auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.listOptions {
    height: 60px;
    background-color: var(--black);
    border-radius: 20px;
}

#drop_zone {
    display: flex;
    border: 2px dashed var(--primary1);
    background-color: transparent;
    width:  100%;
    min-height: 50px;
    height: 100%;
    border-radius: 20px;
    transition: 0.6s;
    align-items: center;
    justify-content: center;
}

#assetButton {
    height: 100%;
    width: 100%;
    background-image: url('images/asset_icon.svg');
}

#flyerButton, #productBlockButton {
    height: 45%;
}

#drop_zone:hover {
    border-color: var(--primary3);
    background-color: var(--primary1);
}

input[type="search"] {
    outline: 0;
    height: 60px;
    width: 512px;
    text-align: center;
    background: var(--secondary1);
    border: 1px solid var(--gray);
    border-radius: 20px;
    font-size: 18px;
    transition: 0.6s;

    background-image: url('images/search_black.svg');
    background-size: 20px;
    background-position: left;
    background-position-x: 20px;
    background-repeat: no-repeat;
}

input[type="search"]:hover, input[type="text"]:hover, .viewToggle:hover {
    border-color: var(--primary1);
}

input[type="search"]:active, input[type="text"]:active {
    border-color: var(--primary3);
}


#timestamp {
    text-align: center;
    padding: 20px;
}

.navigation {
    height: auto;
    width: 20px;
    margin: auto;
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    border-radius: 20px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY( -50%);

    border: 1px solid var(--primary0);
    background-color: var(--primary1);
    backdrop-filter: blur(30px);
}

.primary {
    color:white;
    background-color: var(--primary3);
}

.primary:hover {
    background-color: var(--primary3);
}

.navButton {
    cursor: pointer;
    height: 20px;
    width: 20px;
    padding:10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    transition: 0.3s;
    border-radius: 10px;
}
.navButton:active {
    scale: 0.9;
}

.toolbar {
    display: flex;
    height: 60px;
    width: 1024px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    position: absolute;
    top: 40px;
}

.workingArea {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 1024px;
    height: auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: auto;
    position: absolute;
    top: 200px;
}

.resultBox {
    grid-column-start: 1;
    grid-column-end: 3;
    width: auto;
    display: grid;
    grid-gap: 10px;
    overflow-x:hidden;
    height: calc(100vh - 270px);
    padding: 20px;
    border-radius: 20px;
    background-image: url('images/loading.gif');
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--secondary2);
    flex-shrink: 0;
}

#betaIcon {
    position: absolute;
    top:0;
    right:0;
    height: 72px;
    width: 72px;
    background-image: url('images/beta.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#ollieLogo {
    cursor: pointer;
    height: 64px;
    width: 64px;
    position: absolute;
    left: 30px;
    top: 45px;
    background-image: url('images/pasteboard_icon.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.productInfo {
    margin:auto;
    width: auto;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
}

hr {
    border: 0;
    border-top: 2px dotted lightgray;
    margin: 10px 0px 10px 0px;
}

h2 {
    text-align: center;
    color: var(--black);
    font-size: 20px;
    font-weight: bold;
}

.viewOptions {
    position: relative;
    top: -80px;
    left: -380px;
    height: 80px;
    width: auto;
    padding: 0px 20px 5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
    background-color: none;
}

.viewToggle {
    cursor: pointer;
    height: 50px;
    width: 100px;
    background-color: var(--white);
    border: 3px solid var(--white);
    align-items: center;
    border-radius: 15px;
    background-image: url('images/viewtoggle.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s;
    position: relative;
    flex-shrink: 0;
    top:2px;
}

.toggleSwitch {
    position: relative;
    pointer-events: none;
    background-color: var(--primary3);
    height: 80%;
    width: 40%;
    left: 55px;
    top: 5px;
    display: flex;
    border-radius: 10px;
    background-image: url('images/normalview_icon.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s;
}

.viewToggle:active .toggleSwitch {
    scale: 0.9;
}

.resultButtons {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 0;
    height: 120px;
    gap: 10px;
}

.adBuilder {
    background-color: var(--white);
    height: calc(100vh - 270px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
}

.result {
    width: 480px;
    height: auto;
    background-color: var(--white);
    display:flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    margin: auto;
    gap: 10px;
    border: 2px solid var(--gray);
    transition: 0.3s;
}

.result:hover {
    background-color: var(--white);
}

.resultGroup {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.resultIcon {
    width: 15px;
    margin-right:5px;
}

.resultEntry, .resultIcon {
    display:inline-block;
}

.entryButton {
    height: 50px;
    width: 100px;
}

#resultCounter {
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
}

#adList {
    padding: 5px;
    display: none;
    height: 100%;
    width: auto;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.adItem {
    padding: 10px;
    border-radius: 5px;
    background-color: blue;
    background-color: var(--gray);
    color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.removeButton {
    height: 20px;
    width: 20px;
    background-image: url('images/remove.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    flex-shrink: 0;
}

.removeButton:active {
    scale: 0.9;
}

.segmentedText {
    font-family: 'DSEG14 Classic';font-size: 18px;color:var(--black);text-align: center;margin:auto;
}


@media (max-width: 1280px) {
    #automationTasks {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1080px) {
    .wrapper {
        width: 100%;
    }
    .workingArea,.toolbar,#automationStatus {
        width: 100%
    }
    .workingArea {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #automationTasks {
        grid-template-columns: 1fr 1fr;
        width: calc(100vw - 40px);
    }
    .navigation {
        flex-direction: row;
        width: auto;
        bottom: 30px;
        top: 0;
        left: 50%;
        height: 20px;
        transform: translateX(-50%);
        margin-bottom:0;
        padding: 20px 10px 20px 10px;
    }
    input[type="search"] {
        width: 512px;
    }
    #navLogo {
        width:100px;
        height: 30px;
        background-image: url('images/stellar_logo_horz.svg');
        margin: 0px 20px 0px 20px; 
    }
}

@media(max-width: 640px) {
    #automationTasks {
        grid-template-columns: 1fr;
        
    }
}

[data-tab-page] {
    display:none;
}

.active[data-tab-page] {
    display:flex;
}


/* @media(prefers-color-scheme: light) {
    :root {
        --bright: black;
        --white: white;
        --primary0: #EBFAFF;
        --primary1: #EBFAFF;
        --primary2: #D1EFFF;
        --primary3: #4B73FF;

        --secondary1: #FBFEFF;
        --secondary2: #e4f6ff;

        --black: #262121;
        --gray : #ECF6FA;
    }
} */

